@import url('https://fonts.googleapis.com/css2?family=REM:ital,wght@0,200;0,300;0,400;0,500;1,200&display=swap');
body{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(237, 221, 203);
  font-family: 'REM', sans-serif;
}

.main-container{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.friend{
    /* min-width: 350px; */
    max-width: 50vw;
    min-width: 25vw;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto;
    gap:15px;
    align-items: center;
    margin-bottom: 10px;
}

.name{
  font-weight: bold;
  margin-bottom: 4px;
  margin-top: 6px;
  /* align-self: flex-start; */
}

img{
  border-radius: 50%;

}

.name-container{
  align-self: flex-start;
}

.owe{
  font-size:12px;
  margin-top: 0;
}

button{
  padding: 8px 20px;
  border-radius: 10px;
  border: none;
  background-color: orange;
  font-weight: bold;
}

.bill{
  padding: 30px;
  /* width: 24vw; */
  border-radius: 10px;
}

.bill-heading{
  text-transform: uppercase;
}

.bill-form{
  display: grid;
  grid-template-columns: auto 80px;
  row-gap: 20px;
  column-gap: 50px;
  /* gap:5px; */

}

.selected{
  background-color: rgb(255, 235, 197);
}


input{
  border: none;
  text-align: center;
  border-radius: 4px;
}

.friends-container{
  display: flex;
  flex-direction: column;
}

.add-friend{
  align-self: end;
}


.payee{
  min-width: 86px;
  text-align: center;
  border:none;
  border-radius: 4px;
}
.input{
  /* width: 80px; */
  margin-bottom: 10px;
  display: flex;
  max-width: 80px;
  justify-content: space-between;
}


.split-button{
  grid-column: 2/3;
  width: 86px;
  padding: 8px;
}

.add-friend-form{
  display: grid;
  grid-template-columns: auto 1fr;
  row-gap:20px;
  column-gap: 30px;
  margin-top: 20px;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 16px;
  border-radius: 10px;
}

.add-friend-input{
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;

}

.close-btn{
  align-self: flex-end;
}

.add-btn{
  grid-column: 2/3;
}

.alert{
  font-size:10px;
  color:red;
}